@import '../_colors.scss';

// TODO: Fix issues with floats on mobile layout (should be centered)
footer {
  .footer-left {
    float: none;
    .social-bar-container {
      .social-bar {
        li {
        }
        .fab {
        }
      }
    }
  }
  .footer-right {
    float: none;
    .badge {
    }
  }
}