@import 'partials/_colors';
@import 'partials/desktop/_header';
@import 'partials/desktop/_nav';
@import 'partials/desktop/_headings';
@import 'partials/desktop/_footer';
@import 'partials/desktop/_gist';
@import 'partials/desktop/_shadow';
@import 'partials/desktop/_images';

body {
  font-family: 'Roboto', sans-serif;

  p {
    margin: 8px 12px 8px 8px;
    font-size: 16px;
  }

  a {
    color: $accent2;
    font-weight: bold;
    //text-decoration: none;
  }

  b {
    color: $accent2;
  }

  em {
    color: $dark1;
  }
}

.table-container {
  //  TODO: move to dedicated partial (for general styling)
  width: 100%;
  height: 100%;
  text-align: center;

  div {
    @include create-box-shadow;
    display: inline-block;
    padding: 4px;
    margin-bottom: 8px;
  }

  table {
    caption {
      caption-side: bottom;
      margin: 4px;
      color: #e11c84;
      font-weight: bold;
    }

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;

      tr {
        background-color: #f3a3cd;
      }

      tr.alt {
        background-color: #f9d1e6;
      }

      th {
        color: white;
        background-color: #e11c84;
      }

      td {
        padding: 2px 6px;
        margin: 0;
        border: none;
        width: 240px;
        text-align: left;
      }
    }
  }
}

.card {
  //  TODO: move to dedicated partial (for general styling)
  blockquote {
    margin: 12px;
    color: white;
    background-color: $accent2;
  }
}

blockquote {
  //  TODO: move to dedicated partial (for general styling)
  @include create-box-shadow;
  color: $dark2;
  margin: 8px 96px;
  padding: 8px;

  q {
    color: inherit;
  }

  p::before {
    content: '- ';
  }

  p {
    color: inherit;
  }
}

.code-container {
  //  TODO: move to dedicated partial (for general styling)
  @include create-box-shadow;
  margin: 16px;
  padding: 8px;
  display: inline-block;
  border-left: 6px solid #e11c84;

  code {
    font-family: "Droid Sans Mono", monospace;
    font-size: 16px;
  }

  .terminal-first-highlight {
    font-weight: bold;
    color: blue;
  }

  .terminal-second-highlight {
    color: orangered;
  }

  .terminal-string {
    color: green;
  }

  .terminal-number {
    color: crimson;
  }

}

.formula-container {
  //  TODO: move to dedicated partial
  text-align: center;
  padding: 8px;
  margin-bottom: 4px;

  .formula {
    @include create-box-shadow;
    display: inline-block;
  }

  p.caption {
    color: #e11c84;
    font-weight: bold;
    font-size: 14px;
  }
}

.page {
  display: table;
  width: 100%;
  @import 'partials/desktop/_aside';
  @include create-box-shadow;
  padding-bottom: 16px;

  .anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
  }

  //article::before {
  //  content: "";
  //  display: block;
  //  height: 60px; /* fixed header height*/
  //  margin: -60px 0 0; /* negative fixed header height */
  //}

  main {
    @include create-box-shadow;
    padding: 0 6px;
    display: table-cell;

    article {
      @include create-box-shadow;
      margin: 16px 8px;
      padding: 4px;

      section {
        @include create-box-shadow;
        margin: 8px;
        overflow: auto
      }
    }

    .bottom-nav {
      margin-top: 18px;
      margin-bottom: 8px;
      padding-bottom: 8px;
      display: table;
      width: 100%;

      a {
        font-size: 18px;
        font-weight: bold;
        color: $accent2;
        text-decoration: none;
      }

      .bottom-nav-left {
        display: table-cell;
        text-align: left;

        a {
          margin-left: 96px;
        }
      }

      .bottom-nav-right {
        display: table-cell;
        text-align: right;

        a {
          margin-right: 96px;
        }
      }
    }
  }
}