@media screen and (max-width: 500px) {
  // TODO: figure out issues with random whitespace at the right side
  // TODO: Fix issues with formatting and layout
  @import 'partials/_colors';

  @import 'partials/desktop/_header';
  @import 'partials/desktop/_nav';
  @import 'partials/desktop/_headings';
  @import 'partials/desktop/_footer';
  @import 'partials/desktop/_gist';
  @import 'partials/desktop/_shadow';
  @import 'partials/desktop/_images';

  body {
    a {
    }
    b {
    }
  }

  blockquote {
    //  TODO: move to dedicated partial (for general styling)
    margin: 8px 16px;
  }

  .page {
    @import 'partials/mobile/_aside';

  }

}